modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["poppler_utils", "imagemagick", "unzip"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 9999
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
integrations = ["javascript_log_in_with_replit:2.0.0", "javascript_openai_ai_integrations:2.0.0"]
expertMode = true

[userenv]

[userenv.shared]
NODE_ENV = "production"
PORT = "5000"
BASE_URL = "https://39cfad42-331c-4fa6-90d7-5af1414fa56a-00-hd49areow3rx.spock.replit.dev"
ADMIN_EMAIL = "arb998@gmail.com"
SMTP_HOST = "webhost-mail-out.dynadot.com"
SMTP_PORT = "465"
SMTP_SECURE = "true"
SMTP_USER = "info@sharfedu.com"
MAIL_FROM = "info@sharfedu.com"
SSH_HOST = "165.227.236.121"
SSH_USER = "master_nyrmduupwf"
SSH_PORT = "22"
